################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQDemo/.vs/RabbitMQDemo/FileContentIndex/3e0219fc-7dec-4829-a9c3-b6de28912f68.vsidx
